h1 {
    color: #FFFFFF;
    text-align: center;
  }
  
  p {
    color: #191919;
    font-size: 20px;
  } 
  
  p.pfooter {
    color: #FFFFFF;
    font-size: 20px;
  } 
  
  a {
    color: #191919;
    font-size: 20px;
  } 
  
  a.afooter {
    color: #FFFFFF;
    font-size: 20px;
  } 

  .rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate30 {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.rotate330 {
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.rotate340 {
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  -ms-transform: rotate(340deg);
  transform: rotate(340deg);
}